<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="#">
        <img
          src="#"
          height="16"
          alt="Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            Doctor Appointment
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-link px-3 me-2">
              <a href="{% url 'logout' %}">Logout </a>
            </button>
          {% else %}
              <button type="button" class="btn btn-link px-3 me-2">
                <a href="{% url 'login' %}">Login </a>
              </button>
          {% endif %}
          
          {% if user.is.authenticated %}
          <a 
          class="btn btn-dark px-3"  
          href="{% url 'login' %}" 
          role="button"
          >Account</a>

          {% else %}
              <a
              class="btn btn-dark px-3"
              href=""
              role="button"
              >{{ user.username }}</a>
          {% endif %}
                  
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
    
  </nav>
  <!-- Navbar -->

{% block content %}
{% endblock %}

<footer class="container-fluid text-center" style="background-color: brown;">
    <p>Footer Text</p>
  </footer>
  
    
  </body>
  </html>