{% extends 'baseApp/base.html' %}
{% load static %}

{% block content %}
<!--main container starts here-->
<div class="container col-xl-10 col-xxl-8 px-1 py-1">
<!--Main Row-->
    <div class="row g-lg-5 py-2">
<!--Doctor information panel-->
      <div class="col-lg-7 text-center text-lg-start">
        <div class="row">
            <div class="col-lg-4">
                <div class="image-container">
                    <img id="doctorview-img" src="static\baseApp\img\Dr Zoya Lalani.jpg" alt="doctor">
                  </div>
                <div class="overall-reviews py-3">
                    <span>Best rated Doctor</span>
                </div>

            </div>
            <div class="col-lg-8">
                <h5>About Doctor</h5>
                <hr>
                <p>Consultant Obstetrician Gynaecologist and Foetal Medicine Specialist at Aga Khan University Hospital​, Nairobi</p>
           <h6>Qualifications</h6>
           <hr>
           <p>MBChB (Moi University) (2003)
            MMed-OB/GYN(Aga Khan University, Nairobi) (2010)
            MRCOG- UK (2011)​
            Fellowship Fetal Medicine/quality control in ultrasound-University of Oxford (2014)
            International Masters in Maternal Fetal Medicine (University of Barcelona, Spain ) (2019)
            Dip Maternal Fetal Medicine (Fetal Medicine Foundation, Barcelona, Spain) (2019)</p>
            </div>

        </div>
        <hr>
        <!-- ratings and reviews-->
        <div class="row py-2 pb-5 mb-5">
            <h5>Patient Reviews and Ratings</h5>
            <div class="col-md-4">
                <div class="card"> <i class="fa fa-quote-left u-color"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user-about"> <span class="font-weight-bold d-block">Alex Smith</span> <span class="u-color">Designer | Developer</span>
                            <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                        </div>
                        <div class="user-image"> <img src="https://i.imgur.com/UUW3zLx.jpg" class="rounded-circle" width="70"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"> <i class="fa fa-quote-left u-color"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user-about"> <span class="font-weight-bold d-block">Sophia T.</span> <span class="u-color">Designer | Architect</span>
                            <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                        </div>
                        <div class="user-image"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="70"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"> <i class="fa fa-quote-left u-color"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user-about"> <span class="font-weight-bold d-block">Mike Vincent</span> <span class="u-color">Designer | Developer</span>
                            <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                        </div>
                        <div class="user-image"> <img src="https://i.imgur.com/At1IG6H.png" class="rounded-circle" width="70"> </div>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
      <!--end of doctor panel--- included the rating and reviews-->

      <div class="col-md-10 mx-auto col-lg-5 mt-5">
        <div class="position-sticky" style="top: 2rem;">
        
      <div class="mt-3" id="booking-information"><span>Booking Information</span></div>
      <div class="booking-main-container"> 
        <div><span>Fee</span></div>
        <div><span>Waiting time</span></div>
      </div>
      <div>
        <h6>Book Appointment</h6>
        <hr>
        <section id="availability">
                    <p>Select a date and time for your appointment:</p>
            <form id="booking-form">
                <label class="booking-label" for="date">Select Date:</label>
                <input class="booking-input" type="date" id="date" name="date" required>

                <label class="booking-label" for="time">Select Time:</label>
                <input class="booking-input" type="time" id="time" name="time" required>

                <button class="booking-button" type="submit">Book Appointment</button>
            </form>
        </section>
      </div>
      </div>
      </div>
    </div>
    <!--end of the main row-->
  </div>
  <!--end the main container-->

  
{% endblock %}
