{% extends "base.html" %}

{% block content %}
<diV class="container-fluid">
    <section>
        <div class="row">
            <div class="col-sm-2">1</div>
            <div class="col-sm-8">Doctor appointment query</div>
            <div class="col-sm-2">2</div>
        </div>
    </section>
    <section>
        <div class="container px-4 py-5" id="icon-grid">
            <h2 class="pb-2 border-bottom"> here </h2> 
                 
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

              {% for item in doctors %}
              <div class="col d-flex align-items-start" style="border: 1rem; padding: 1rem;">

                <img src="{{ item.image.url }}" alt="my image" style="float:left;  width: 1in; height: 1.2in;"/>

                <div>
                <h5>Name: <span>{{ item.full_name }}</span></h5>
                <h6><span>{{ item.specialization }}</span></h6>
                <h6>Location: <span>{{ item.address }}</span></h6>
                <h6>Rating: <span>stars</span></h6>
                </div>

                
              </div>

              {% endfor %}

             
         
          
            </div>
          </div>
         
    </section>


</diV>
{% endblock %}